<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add 
			key="URL" 
			value="https://docs.google.com/presentation/d/e/2PACX-1vTfXGUG6KM8p5bLBnZeRx4vUmoqM0Pi7n0Wq-TRTgpwTyezq0bfi-CNhJxkasfuc64CB2hAT2GMhlc0/pub?start=true&amp;loop=true&amp;delayms={0}"
		/>
		<add key="SlideAdanceDelayMS" value="180000"/>
		<add key="effectiveScreenNum" value="1"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
